.smallcircle {
  position: relative;
  border-radius: 50%;
  transform: translate(80%, -50%);
  height: 463px;
  width: 463px;
  z-index: -1;
}

.bigcircle {
  border-radius: 50%;
  height: 662px;
  width: 662px;
}
