.button {
  height: 2rem;
  width: 2rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.button a:hover {
  color: var(--main-color);
}
