/** File input styling **/
.fileinput {
  display: none;
}

.customfileupload {
  text-align: center;
  padding: 10px 20px;
  max-width: 160px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.container {
  min-height: 300px;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.imagecontainer {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.imagebox {
  overflow: hidden;
  height: 85px;
  width: 120px;
}

.closecircle {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}
