@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto&display=swap");
:root {
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Italiana";
  --main-color: #000000;
  --secondary-color: #ffffff;
  --light-gray: #c4c4c4;
}

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

.text-dark {
  color: var(--secondary-color);
}

.text-light {
  color: var(--main-color);
}

.text-extrasmall {
  font-size: 12px;
  text-transform: uppercase;
}

.text-small {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-large {
  font-size: 2rem;
}

.text-medium-large {
  font-size: 3rem;
}

.text-extra-large {
  font-size: 4rem;
  font-weight: 700;
}

.text-bold {
  font-weight: 700;
}

.text-upper {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  font-family: var(--font-main);
}

a:hover {
  color: var(--light-gray);
  text-decoration: underline;
}

.section {
  margin: 150px 0;
}

.font-main {
  font-family: var(--font-main);
}

.font-secondary {
  font-family: var(--font-secondary);
}
